<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>
<div class="col-md-12">
    <app-recipe-item *ngFor="let recipeElement of recipes; let i = index"
        [recipe]="recipeElement"
        [index]="i"> <!-- lets pass index into @Input() index property-->
    </app-recipe-item>
</div>
<!-- 
Note that for the above image, we could use both
src = "{{ recipe.imagePath }}" - string interpolation
[src]="recipe.imagePath" - or property binding -->
